<div class="card" style="width: 30rem;">
  <%= render "devise/shared/error_messages", resource: resource %>
    <h3>アカウントを新規作成</h3>
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      
      <div class="field">
        <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "名前を入力してください", size: 52; %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "emailを入力してください", size: 52; %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力してください", size: 52; %>
      </div>

      <div class="field">
        <%= f.label :パスワード確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワードを再度入力してください", size: 52; %>
      </div>
        <p id="profile-name" class="profile-name-card"></p>
      <div class="actions">
        <%= f.submit "アカウントを作成",class:"btn btn-success btn-block" %>
      </div>
    <% end %>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        <%= render "devise/shared/links"  %>
      </div>
    </div>
</div>