<header>
  <nav class="navbar navbar-expand-lg navbar-blue bg-dark">
    <a class="navbar-brand" id="logo" href="/">ToDoapp</a>
    <ul class="navbar-nav mr-auto">
  <div class="collapse navbar-collapse justify-content-center" id="navbar1">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to " マイページ", user_path(current_user), class:"nav-link fas fa-desktop" %>
        </li>
        <li class="nav-item">
          <%= link_to " リスト作成", root_path, class:"nav-link fas fa-user-plus" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to " 練習", root_path, class:"nav-link fas fa-desktop" %>
        </li>
        <li class="nav-item">
          <%= link_to " 新規登録", new_user_registration_path, class:"nav-link fas fa-user-plus" %>
        </li>
        <li class="nav-item">
          <%= link_to " ログイン", new_user_session_path, class:"nav-link fas fa-sign-out-alt animated-hover" %>
        </li>
    <% end %>
      <% if user_signed_in? %>
        <li class="nav-item">
          <h5>ようこそ! <%= current_user.name %>さん</h5>
        </li>
        <li class="nav-item">
          <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class:"btn-outline-info disabled fas fa-sign-out-alt" %>
        </li>
      <% end%>
</div>
</ul>

  </nav>
</header>